<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    <img src="./img/rythem.jpg" style="width: 20em;" alt="image">
    {{>footer}}
</body>

</html>